# Dependency directories
/vendor/
node_modules/

# Log files
npm-debug.log
yarn-error.log

# PHPUnit and other test files
.phpunit.result.cache
/.phpunit.cache

# PHP Actor
.phpactor.json

# Laravel specific
bootstrap/compiled.php
app/storage/
public/storage
public/hot
public_html/storage
public_html/hot

# Build directories
/public/build

# Storage and environment files
storage/*.key
.env
.env.backup
.env.production
auth.json

# Homestead files
Homestead.yaml
Homestead.json

# Vagrant files
/.vagrant

# IDE and tool specific
/.fleet
/.idea
/.vscode
/.zed