@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    /* Tailwind keywords that can be added to classes to reduce code reuse */
    .dropdown-link {
        @apply flex flex-row justify-center items-center gap-2 w-full p-2 text-center rounded-md hover:bg-white/5 transition-colors duration-500;
    }

    .dropdown-display {
        @apply block md:block lg:block bg-white dark:bg-zinc-800 fixed md:absolute lg:absolute md:rounded-lg lg:rounded-lg shadow-2xl;
    }

    .dropdown-hide {
        @apply scale-0 border-2 border-neutral-400 bg-white dark:bg-zinc-900 fixed rounded md:absolute lg:absolute md:rounded-lg lg:rounded-lg shadow-2xl;
    }

    .misc-page-hr {
        @apply border border-violet-700 w-1/3 mx-auto;
    }

    .misc-page-container {
        @apply bg-white dark:bg-zinc-900 p-8 rounded-xl shadow-lg mx-auto max-w-2xl my-20;
    }

    .misc-page-header {
        @apply pt-8 text-center text-4xl font-extrabold tracking-wide drop-shadow-lg;
    }

    .shop-select {
        @apply p-3 ps-4 bg-white bg-zinc-800 rounded-lg hover:ring hover:ring-violet-700/75 font-normal transition-all duration-500;
    }
}

/* styling for chrome scrollbar */
::-webkit-scrollbar {
    width: 3px;
    border-radius: 100px;
}

::-webkit-scrollbar:hover {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #BDBDBD;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6E6E6E;
    width: 10px;
}

/* To tweak toastr */
.toast {
    opacity: 1 !important;
    width: 25vw !important;
}

/* styling for accordion component*/
.accordion-content {
    max-height: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: clip;

    transition: max-height 1s ease;
}

.accordion-checkbox {
    display: none;
}

.accordion-checkbox:checked~.accordion-content {
    max-height: 200px;
}

/* Animations */
@keyframes accordion-slide {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}