@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    /* Tailwind keywords that can be added to classes to reduce code reuse */
    .dropdown-link {
        @apply flex flex-row justify-center items-center gap-2 w-full p-2 text-center rounded-md hover:bg-white/5 transition-colors duration-500;
    }

    .dropdown-display {
        @apply block md:block lg:block bg-zinc-800 fixed md:absolute lg:absolute md:rounded-lg lg:rounded-lg shadow-2xl;
    }

    .dropdown-hide {
        @apply scale-0 border-2 border-neutral-400 bg-zinc-900 fixed rounded md:absolute lg:absolute md:rounded-lg lg:rounded-lg shadow-2xl;
    }
}

::-webkit-scrollbar {
    width: 3px;
    border-radius: 100px;
}

::-webkit-scrollbar:hover {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #BDBDBD;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6E6E6E;
    width: 10px;
}

/* To tweak toastr */
.toast {
    opacity: 1 !important;
    width: 25vw !important;
}